# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars

# .NET
bin/
obj/
publish/
*.user
*.suo
.vs/

# Local settings
src/**/local.settings.json
*.zip

# OS
.DS_Store
Thumbs.db
